<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body {
            background-color: rgb(135, 222, 189);
            margin: 0 0;
            position: relative;
            font-size: 14px;
            color: #333;
            font-family: 'Roboto', sans-serif;
        }

        img {
            max-width: 3000px;

        }

        p.right {
            text-align: right;
        }
    </style>
</head>

<body>
    <center>
        <div>
            {{message}}
            <h1>Index</h1>
            Welcome {{name}} Hello {{role}}
        </div>
    </center>
    <p class="right"> <strong>
            <marquee behavior="alternate" width="10%">>></marquee><a href="/login">Logout</a>
            <marquee behavior="alternate" width="10%">
        </strong></p>

    << </marquee>
        <center><a><img src="anhdep.jfif"></img></a>
        </center>
</body>

</html>