<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aqua;
            margin: 0 0;
            position: relative;
            font-size: 14px;
            color: #333;
            font-family: 'Roboto', sans-serif;
        }

        .container {
            width: 780px;
            margin: auto auto;
        }

        img {
            width: 100%;
        }

        h3 {
            color: rgb(119, 45, 45);
        }
    </style>
</head>
<marquee direction="right">Trang Đăng Nhập</marquee>

<body>
   <center> <h3>Chào Mừng Đến Với Trang Web Của Chúng Tôi</h3></center>
 <center><marquee behavior="alternate" width="10%">>></marquee>{{message}} <marquee behavior="alternate" width="10%"></center>
        << </marquee>

            <div> <a href="/login"> <h1> Login</h1> </a> <br>
                <img src="4k.jfif"> </img>
            </div>

</body>

</html>