<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            background-color: rgb(80, 220, 255);
            margin: 0 0;
            position: relative;
            font-size: 14px;
            color: #333;
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <font ><marquee direction="left" style="background:orange"><h1>Register</h1></marquee></font>
    
  <center> <form action="/new" method="post">
    Name <input type="text" name="txtName">
    <br>
    Password <input type="password" name="txtPassword">
    <br>
    Role <select name="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
    </select>
    <br>
    <input type="submit" value="Register">
    <hr>
   <img src="about.jfif"> </img>
    </form></center> 
</body>
</html>